 
<script>
    var lat_2000 ='{LAT}';
    var lng_2000 = '{LNG}';
    var img1_2000 = '{IMG1}';
	var imgdefault_2000 = '{IMGDEFAULT}';
    var address_2000 = '{LOCATION}';
     var search_2000 = '{SEARCH}';
</script>
   

    <h3>
      {TITLE}:
    </h3>
    
    <span id="searchcontent2000" style="display:none">
     <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    
    </span> 
    <div class="columnsContainer">
	   <div class="leftColumn">
			<div id="map-canvas2000"></div>
	   </div>	
	   <div class="rightColumn">	
			<div id="listing2000">
			  <table id="resTable2000" class="resultsTable">
				<tbody id="results2000"></tbody>
			  </table>
			</div>
		</div>
	</div>	
    <div id="info-content2000" style="display:none">
      <table class="resultsTable">
       <tr id="iw-url-row" class="iw_table_row">
          
          <td colspan=2 id="iw-image">
           <div id="sliderFrame">
        		<div id="slider2000">
        			
        		</div>
	 		</div>
          </td>
        </tr>
        <tr id="iw-url-row2" class="iw_table_row">
         
          <td id="iw-info"></td>
        </tr>
       
      </table>
    </div>
 